audio {
    display: none;
}


#main_window {
    width: auto;
    height: auto;
    border: 1px solid black;
    text-align: center;
    background: linear-gradient(#1abc9c, rgb(244, 67, 54));
    padding-bottom: 5px;
}

h1 {
    top: 10px;
    width: auto;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 100px;
    font-weight: bolder;
    color: red;
    animation: myfirst 10s;
    -webkit-animation: myfirst 10s infinite; /* Safari and Chrome */
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0% {
        color: red;
    }

    14.5% {
        color: orange;
    }

    29% {
        color: yellow;
    }

    43.5% {
        color: green;
    }

    58% {
        color: blue;
    }

    72.5% {
        color: indigo;
    }

    87% {
        color: violet;
    }

    100% {
        color: red;
    }
}

#nav_bar {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    position: relative;
    background-color: dodgerblue;
    padding: 5px;
}

    #nav_bar button {
        text-decoration: none;
        color: black;
        font-size: 20px;
        width: 200px;
        padding: 5px;
        background-color: aqua;
    }

        #nav_bar button:hover {
            text-align: center;
            color: red;
            display: inline;
            background-color: black;
        }

.dropdown {
    position: relative;
    display: inline-block;
}

    .dropdown .dropdown-menu {
        position: absolute;
        display: none;
        margin: 0;
        list-style: none; /** Remove list bullets */
        width: 100%; /** Set the width to 100% of it's parent */
        padding: 0;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown a {
        display: block;
        text-decoration: none;
        background: #CCCCCC;
        color: black;
    }

        .dropdown a:hover {
            background: #BBBBBB;
        }

#middle > img, #middle > p {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    background-color: bisque;
    border-radius: 15px;
}

#middle p {
    width: 950px;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: justify;
    padding: 5px;
}

#image {
    width: 450px;
    height: 300px;
    margin: 10px;
    border-radius: 15%;
}

form{
    text-align: left;
    margin-left: 30px;
}

label{
    margin-top: 5px;
    color: brown;
}

input[type=text], input[type=number], select {
    width: 98%;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    outline-width: 0;
}

input[type=submit], input[type=button] {
    width: 98%;
    background-color: #4CAF50;
    color: darkblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    outline-width: 0;
}

    input[type=submit]:hover, input[type=button]:hover {
        border-radius: 5px;
        background-color: black;
        color: antiquewhite;
    }

#purchase_form {
    border-radius: 15px;
    background-color: honeydew;
    margin: 5px;
}

#details {
    width: 98%;
    background-color: cornsilk;
    color: darkblue;
    margin: 0px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    outline-width: 0;
    text-align: center;
}

#edit {
    width: 98%;
    background-color: orange;
    color: darkblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    outline-width: 0;
    display: none;
}

    #edit:hover, #buy:hover{
        border-radius: 5px;
        background-color: black;
        color: antiquewhite;
    }

#buy1 {
    width: 98%;
    background-color: #4CAF50;
    color: darkblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    outline-width: 0;
    display: none;
}